* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

#global-nav {
    background-color: lightblue !important;
    padding: 10px;
}

#global-nav ul {
    margin: 0;
    padding: 0;
}

#global-nav li {
    display: inline;
    text-decoration: none;
}

#global-nav a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

.sidebar {
    background-color: antiquewhite !important;
    height: 100vw;
    position: sticky;
    top: 0;
}

.tile-book {
    margin: var(--sm-space);
    padding: 0;
    background-color: white;
    transition: var(--transition-time) ease;
    border-radius: 10px;
}

.tile-book hover {
    box-shadow: var(--drop-shadow);
    cursor: pointer;
}

.tile-book a {
    color: black;
    text-decoration: none;
}

.tile-book-content {
    margin-top: 5px;
}

.tile-book-content h4 {
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.tile-book-cover {
    width: 200px;
    height: 100%;
    object-fit: cover;
}